.table {
  background-color: rgb(17 24 39);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    border-radius: 8px;
  overflow: hidden;
}

.row,
.tableHeader {
  font-size: 14px;
  color: rgb(156, 163, 175);
  height: 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 12px 24px;
}

.tableHeader {
  text-transform: uppercase;
  font-weight: 500;
  
}

.row {
  border-top: 1px solid rgb(31, 41, 55);
  cursor: pointer;
  height: 72px;
}

.row:hover {
  background-color: #353e4b;
}

.applicant {
    display: flex;
    gap: 8px;
    align-items: center;
}

.applicantExpandIcon {
    width: 16px;
}

.name {
  color: white;
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.statusIcon {
  width: 20px;
  height: 20px;
  
}

.approvedIcon {
  color: rgb(34, 197, 94);
}

.pendingIcon {
  color: rgb(234, 179, 8);
}

.rejectedIcon {
  color: rgb(239, 68, 68);
}

.pill {
  height: 20px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  padding: 0px 8px;
}

.pending {
  background-color: rgb(254, 249, 195);
  color: rgb(133, 77, 14);
}

.approved {
  background-color: rgb(220, 252, 231);
  color: rgb(22, 101, 52);
}

.rejected {
  background-color: rgb(254, 226, 226);
  color: rgb(153, 27, 27);
}

.expanded {
  padding: 16px 24px;
  background-color: #353e4b;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.question, .answer {
  font-size: 14px;
  margin: 0px;
}

.question {
  font-weight: 500;
}

.answer {
  color: rgb(156, 163, 175);
  margin-top: 4px;
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: right;
}

.approveAction {
  color: rgb(34, 197, 94);
  font-weight: 500;
}

.rejectAction {
  color: rgb(239, 68, 68);
  font-weight: 500;
}